@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

:root {
  --shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.5);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.btn {
  border: none;
  border-radius: 0.5em;
  padding: 0.5em 1.5em;
  background: #fafafa;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: transform 250ms ease-in;
}

.btn:hover {
  transform: scale(1.025);
  background: #e6e5e5;
}

input[type="color"] {
  width: clamp(2rem, 5vw, 2.75rem);
  height: clamp(1rem, 5vw, 1.44rem);
}

body {
  background-color: aliceblue;
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 1em 1em 1.5em 1em;
  overflow: auto;
}

h1 {
  margin-bottom: 1em;
  font-size: clamp(1.25rem, 5vw, 2.5rem);
}

#container {
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  outline: 0.05rem solid black;
  box-shadow: var(--shadow);
  height: clamp(15rem, calc(min(70vh, 70vw) + 1rem), 60rem);
  width: clamp(15rem, calc(min(70vh, 70vw) + 1rem), 60rem);
}

#container .square {
  display: flex;
}

#colors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5em;
}

#colors .btn {
  font-size: clamp(0.8rem, 3.5vw, 1rem);
}

#color-switcher {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#grid-changer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0.5em;
  font-size: clamp(0.8rem, 3.5vw, 1rem);
}

#grid-changer label {
  padding-right: 1em;
}
